div.container-member{
    margin: 90px;
}
div.Main{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    height: 50px;
    left: 10px;
    width: auto;
    margin-top: 0.1px;
    position:relative;
    text-align: end;
}
div.form{
    position:absolute;
    margin: 60px;
    text-align: center;
    left: 10px;
    width:500px;
    height: 100px;
}
div.image{
    position: fixed;
    width: 500px;
    left: 800px;
    top: 200px;
}
footer.style{
    position: fixed;
   bottom: 0;
   width:auto;
   height: 22px;   /* Height of the footer */
   background: black;
    }