/* div.container-member{
    margin: 90px;
} */
div.Main{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    height: 50px;
    left: 10px;
    width: auto;
    margin-top: -150px;
    margin-bottom: 200px;
    margin-left: -15px;
    position: sticky;
    text-align: end;
    font-weight: bolder;
    font-style: oblique;
}
div.form{
    position: absolute;
    margin: -80px;
    text-align: center;
    left: -150px;
    width:700px;
    height: 100px;
    background-position: center;
    
}
/* div.image{
    position: fixed;
    width: 800;
    left: 800px;
    top: 200px;
} */
footer.style{
    position: fixed;
   bottom: 0;
   width:auto;
   height: 22px;   /* Height of the footer */
   background: white;
    }

div.picture{
    background-image: url(https://r1.ilikewallpaper.net/ipad-pro-wallpapers/download/87334/gradient-art-abstract-4k-ipad-pro-wallpaper-ilikewallpaper_com.jpg);
    display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	margin: 20px;
	background-position: center;
	background-size: cover;
	margin-left:0%;
    margin-top: 2%;
	color: black;
    text-decoration: underline;
    font-style: oblique;
    font-weight: bolder;
}