/* h1{
    font: size 100px;
    color: rgba(17, 232, 35, 0.979);
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex: 50%;
    margin-top: 20%;
    padding: 30%;
  } */

  .img{
    background-image: url(https://images3.alphacoders.com/112/thumb-1920-112347.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }